body{
  background-color: #3870ff;
  font-family: 'Overpass', sans-serif;
}

.MainScreen-card{
    background-color: #2d4975;
    height: 660px;
    width: 540px;
    margin: 90px auto;
    border-radius: 40px;
    box-shadow: black 5px 4px 10px;
}

.Title-container {
  color: #fff;
  height: 170px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  padding-top: 20px;
}

.Button {
  height: 60px;
  width: 300px;
  display: inline-flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Button-container {
  background-color: white;
  height: 60px;
  width: 300px;
  margin: 40px auto;
  border-radius: 30px;
  box-shadow: black 2px 2px 10px;
}

.Button-name{
  padding-left: 40px;
}

.Button-icon {
  height: 30px;
  width: 30px;
  margin-left: auto;
  padding-right: 40px;
}

a{
  text-decoration: none;
  font-family: 'Overpass', sans-serif;
  font-weight:500;
  font-size: larger;
  color: #fff;
}
